.jsonTable {
	margin: 0 auto;
	min-width: 900px;
}
.jsonRow {
	padding: .75em 0 !important;
	vertical-align: top;
	cursor: pointer;
}
.jsonOdd {
	background: #efefef;
}
.jsonCell {
    padding: .75em !important;
    color: rgb(2, 117, 216);
		text-transform: capitalize;
}
.jsonCell:hover {
  color: #014c8c;
}
.jsonColumn {
	padding: 12px 0.75em !important;
	text-align: left;
	background: #74b9ff;
}

/* Do not display ID Column */
.jsonCell.jsonCell__id {
	display: none;
}
.jsonColumn[data-key="_id"] {
	display: none;
}
.querypagination {
	margin: 2em 0 0em;
}
.querypagination .pagination {
	margin: 0 auto;
}

.queryresult h3 {
	text-align: center;
	margin-bottom: 1em;
}
