.paper-page {
  text-align: center;
  background-color: #fbfbfb;
}

.paper-page .jumbotron {
  background-image: url('../../assets/images/bg-author.jpg');
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-align: center;
}

.paper-page h1 {
  font-weight: 200;
  text-transform: capitalize;
  line-height: 1.4em;
}

.paper-container {
  text-align: left;
}

.coauthors a {
  text-transform: capitalize;
  padding: 0 4px;
}

.author-col {
	align-self: center;
	text-align: center;
}

.paper-stats{
  justify-content: center;
  text-align: center;
}

.stat-box {
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 28px 40px 0 #f0f0f3;
  border-radius: 5px;
}
