.paper-page {
  text-align: center;
  background-color: #fbfbfb;
}

.paper-page .jumbotron {
  background-image: url('../../assets/images/bg-author.jpg');
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-align: center;
}

.paper-page h1 {
  font-weight: 200;
  text-transform: capitalize;
  line-height: 1.4em;
}

.paper-container {
  text-align: left;
}

.coauthors a {
	text-transform: capitalize;
	padding: 0 4px;
	color: #eee;
	font-weight: bold;
}

.coauthors a:hover {
  color: #ddd;
}

.author-col {
	align-self: center;
	text-align: center;
}

.paper-stats{
  justify-content: center;
  text-align: center;
}

.meta-paper.row {
	display: inline-block;
	text-align: left;
}

.stats-row.row {
  max-width: 1100px;
  margin: 0 auto;
}

.stat-box {
  padding: 20px 0;
  color: #fff;
}

.stat-box h3 {
  font-weight: bold;
  color: #ddd;
}

.coauthors li {
	text-transform: capitalize;
	display: inline-block;
	padding: 0 10px;
}

.page-link{
  cursor: pointer;
}
