.search-bar.container {
    max-width: 900px;
    padding: 25px 0 0;
}

.search-bar input {
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
}

.search-bar .btn {
  font-family: 'Fira Sans', sans-serif;
}

.search-bar .nav-link {
  color: #777;
  transition: all ease 0.4s;
}

.search-bar .nav-link:hover, .search-bar .nav-link.active {
  color: #fff;
}

.search-bar .input-group {
	margin-bottom: 2em;
}

.nlpquery .btn {
	border-radius: 0;
	color: #fff;
	border-color: #fff;
	cursor: pointer;
  margin-top: 1em;
}

.nlpquery .btn:hover {
  background: #fff;
  color: #000;
}
