.paper {
  text-align: left;
}

.paper-id {
  font-weight: 800;
  color: #a7a7a7;
}

.paper-row{
  color: #292b2c;
}

.paper-row:hover {
  text-decoration: none;
}

.citations {
    align-self: center;
}

 hr {
  width: 100%;
}
