.search-bar.container {
    max-width: 900px;
    padding: 40px 0;
}

.search-bar input {
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
}

.search-bar .input-group {
	margin-bottom: 2em;
}

.search-bar.container {
	padding: 30px 0 0 0;
}

.nlpquery .btn {
	border-radius: 0;
	color: #fff;
	border-color: #fff;
	cursor: pointer;
  margin-top: 1em;
}

.nlpquery .btn:hover {
  background: #fff;
  color: #000;
}

.queryresult {
  max-width: 1100px;
  margin: 0 auto;
}

.jsonCell, .jsonColumn {
	padding: 0 58px;
	text-align: left;
}

.plot.container {
	margin-top: 3em;
}

.plot .recharts-wrapper {
    margin: 0 auto;
}
