.author-stats {
  background: #fbfbfb;
}

.author-stats .row {
  justify-content: center;
  text-transform: capitalize;
}

.auth-collabs li {
	display: inline-block;
	padding: 0 15px;
}

.topCollab {
  margin-bottom: 2em;
}

.collabItem {
  list-style: none;
  text-align: left;
  font-size: 20px;
}
