.author-stats {
  background: #fbfbfb;
}

.stat-box {
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 28px 40px 0 #f0f0f3;
  border-radius: 5px;
}

.author-stats .row {
  justify-content: center;
}
