.footer {
  background: #4D4F53;
  color: #fff;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.footer p a {
  color: rgba(255, 255, 255, 0.8)
}

.footer p a:hover {
  text-decoration: none;
  color: #fff;
}

.footer img {
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 0.0625rem solid #666;
}
